html,
body,
#app,
#root,
#app > div {
  background: rgb(0, 151, 175);
  background: linear-gradient(
    0deg,
    rgb(8, 198, 227) 0%,
    rgba(79, 234, 255, 0.701) 36%,
    rgb(201, 242, 255) 97%
  );
  height: 100%;
  background-color: rgb(254, 255, 233);
}

@keyframes search-up {
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes population-up {
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.title {
  margin-top: 20vh;
}

.searchBar {
  transition: 1s;
  margin-top: 8%;
  opacity: 0.2;
  transform: translateY(30%);
  animation: search-up 1s ease forwards;
}

.dropdown-menu {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(40vh);
  cursor: pointer;
}
.dropdown-menu-dark {
  --bs-dropdown-link-active-bg: #008299 !important;
}

.smallTitle {
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
}

.population {
  font-size: 8vw;
  opacity: 0.1;
  transform: translateY(30%);
  animation: population-up 1s ease forwards;
}
