html,
body,
#app,
#root,
#app > div {
  height: 100%;
}

@keyframes smooth-up {
  to {
    margin-top: 20%;
    opacity: 1;
  }
}

.searchBar {
  transition: 1s;
  margin-top: 30%;
  opacity: 0.2;
  animation: smooth-up 1s ease forwards;
}
